script(src="js/libs/jquery-3.7.0.min.js")
script(src="js/libs/gsap.min.js")
script(src="js/libs/split-type.min.js")
script(src="js/libs/aos.js")
script(src="js/libs/TweenMax.min.js")
script(src="js/scripts.min.js")